.swiper-container {
    width: 100%; 
    height: 270px; 
    overflow-x: auto; 
    overflow-y: hidden; /* Hide vertical scroll */
    white-space: nowrap; /* Ensure slides are in a single horizontal line */
    background-color: #8b8b8b6b;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    border-radius: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .swiper-container::-webkit-scrollbar {
    display: none; 
  }
  
  .mySwiper {
    display: flex; 
    align-items: center; 
    margin-top: 40px;
  }
  
  .swiper-slide {
    display: inline-flex; /* Align slides horizontally */
    border-radius: 8px;
    justify-content: center; 
    align-items: center; 
    width: 200px; 
    height: 200px; 
    background-color: #fcfbfb; 
    box-sizing: border-box;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
   
  }